body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
}

#tapButton {
padding: 20px 40px;
font-size: 24px;
cursor: pointer;
background-color: #007bff;
color: white;
border: none;
border-radius: 5px;
margin: 20px 0;
transition: background-color 0.2s;
}

#tapButton:hover {
    background-color: #005603;

}